body {
  background-color: rgba(162, 70, 70, 0.118);
}

.intro {
  font-weight: bold;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.status {
  font-style: italic;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
div {
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-radius: 5px;
  margin-top: 30px;
}

p {
  text-align: center;
}
