 body {
    background-color: rgba(162, 70, 70, 0.118);
  }

  div {
    align-items: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
 
  p { 
    text-align: center;
  }
 